# Отключаем автоматический индекс директорий (-Indexes)
Options -Indexes +FollowSymLinks

# Отключаем установку кодировки по умолчанию
AddDefaultCharset Off

ErrorDocument 404 /err404.html

<IfModule mod_charset.c>
	CharsetDisable On
</IfModule>

<IfModule mod_dir.c>
	DirectoryIndex index.html
</IfModule>
